* {
  margin: 0;
  padding: 0;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  hyphens: none;
}

html {
  font: normal 18px/1.25 Source Sans Pro, sans-serif;
  color: #000;
  hyphens: auto;
  word-wrap: break-word;
  background: #22272e;
}

body > :first-child {
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
  background: #22272e;
  margin: 1rem 0;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
}

/* .section::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff1f71 0%, #ff7700 100%);
  transform: translate3d(0px, 0px, 0) scale(1.001);
  filter: blur(8px);
  opacity: 0.9;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.section::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
*/

/* @group Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  margin-top: 1.5rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.75rem;
  border-bottom: none;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.65rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}

h2 em,
h3 em {
  color: grey;
}

/* @end */

small {
  font-size: 80%;
}

p {
  margin-top: 0.75rem;
  letter-spacing: 0.5px;
  color: #fff;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #ff1f71, #ff7700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin: 1rem 0;
  opacity: 0.5;
}

ol,
ul {
  margin-top: 0.75rem;
}

ol ul,
ol ol,
ul ul,
ul ol {
  margin-left: 2rem;
  margin-bottom: 0.75rem;
}

li {
  margin: 0.5em 0;
  color: #fff;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: #808080;
}

abbr[title]:hover {
  cursor: help;
}

/* @group Block Quotes */

blockquote {
  border-left: 5px solid #bababa;
  padding-left: 0.75em;
  margin-left: calc(-0.75em - 5px);

  font-style: italic;
}

blockquote + figcaption {
  display: block;

  margin-top: -1.5rem;
  margin-bottom: 1.5rem;

  font-size: 75%;
  text-align: right;
}

blockquote + figcaption:before {
  content: '— ';

  opacity: 0.05;
}

/* @end */

/* @group Pre-formatted and Code */

pre {
  overflow: auto;

  margin: 0 auto;
  padding: 0.5rem;

  font-size: 0.8rem;
  white-space: pre;

  background-color: #f8f8f8;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

code {
  padding: 0 0.25em;

  white-space: pre;
  font-family: Source Code Pro, monospace;

  /* background-color: #f8f8f8; */
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

pre code {
  padding: 0;

  word-wrap: normal;
  white-space: pre-wrap;
}

pre code,
pre tt {
  background-color: transparent;
  border: none;
}

/* @end */

/* @group Tables */

table {
  margin: 0.75rem 0;
  padding: 0;

  border-collapse: collapse;
}
table tr {
  margin: 0;
  padding: 0;

  border-top: 1px solid #ccc;
  background-color: #fff;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  margin: 0;
  padding: 0.35em 0.75em;

  font-weight: bold;
  text-align: left;

  border: 1px solid #ccc;
}

table tr td {
  margin: 0;
  padding: 0.35em 0.75em;

  text-align: left;

  border: 1px solid #ccc;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.heading {
  align-self: center;
  width: fit-content;
  padding-bottom: 1rem;
}

.sub-heading {
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
  font-weight: 700;
  width: fit-content;
  /* padding-bottom: 1rem; */
}

/* @end */
